.check-assignment {
  display: none;
}
.check-assignment-btns-container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  width: 100%;
  align-self: center;
  justify-content: end;
}
.check-assignment-mark {
  outline: none;
  border: none;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  background-color: #00b4d8;
}

/* .Reject-btn-checkAssignment,
.Accept-btn-checkAssignment {
  background-color: gray;
  color: white;
  border: 1px solid black;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 70px;
  cursor: pointer;
}
.radio-checkAssignment {
  opacity: 0;
}
#Accept-input-checkAssignment:checked + .Accept-btn-checkAssignment {
  background-color: #2ff793ff;
  color: black;
}
#Reject-input-checkAssignment:checked + .Reject-btn-checkAssignment {
  background-color: #f7444eff;
  color: black;
}
#Accept-input-checkAssignment-01:checked + .Accept-btn-checkAssignment {
  background-color: #2ff793ff;
  color: black;
}
#Reject-input-checkAssignment-01:checked + .Reject-btn-checkAssignment {
  background-color: #f7444eff;
  color: black;
} */

.form-control-container{
  font-size: 17px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
}

.form-control{
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.form-control::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.form-control:checked::before {
  transform: scale(1);
}
.detailBox-checkAssignment {
  display: none;
  position: absolute;
  top: 25vh;
  left: 25vw;
  background-color: gray;
  width: 600px;
  height: 300px;
  margin: 0px;
  padding: 0px;
}
.detailBox-checkAssignment div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 550px;
  height: 250px;
  margin: 0px;
  padding: 0px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 7px;
  text-align: center;
}
#CheckAssignStudentTable {
  counter-reset: countRollno;
  }
#CheckAssignStudentTable td h6 {
  margin: 0px;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
}
#CheckAssignStudentTable td h6::before {
  counter-increment: countRollno;
  content: counter(countRollno);
}