#StudentTable,#CheckAssignStudentTable {
  border-collapse: collapse;
  width: 97%;
  margin: auto;
  margin-top: 27px;
}
#StudentTable td,
#StudentTable th,
#CheckAssignStudentTable td,
#CheckAssignStudentTable th {
  border: 1px solid grey;
  padding: 7px;
}
#StudentTable tr:nth-child(even) {
  background-color: #eee;
}
#StudentTable th,#CheckAssignStudentTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a0c0;
  color: white;
}
.MainDiv2 {
  overflow-y: scroll;
  display: none;
}

.MainDiv3 {
  display: none;
}
/* Add Files & Module Page Css */
#class-title {
  margin-left: 17px;
}
.uploadDiv-Container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  background-color: white;
  width: 800px;
  margin: auto;
}

.moduleTextbox {
  display: flex;
}

.uploadDiv {
  margin: auto;
  display: flex;
  width: 180px;
  height: 270px;
  border-radius: 7px;
  background-color: #00a0c0;
}
.uploadDiv-Icon {
  margin: auto;
  font-size: 57px;
}
#thumb {
  align-self: center;
  width: 180px;
  height: 270px;
  border: none;
  padding: 0px;
  margin: 0px;
  display: none;
}
.title-icon {
  margin: auto;
}
#Input-Type-File {
  /* display: none; */
  visibility: hidden;
}
.uploadDiv-OuterDiv {
  background-color: white;
  border: solid black;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.docUpload-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #89cff0;

  width: 297px;
}

.Master-Container {
  align-self: center;
  display: flex;
  gap: 47px;
  border-radius: 7px;
  width: 700px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  background-color: #89cff0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sub-Master-Container {
  display: flex;
  flex-direction: column;
}
.custom-select {
  width: 200px;
  border: solid black;
}

#selectFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.SF-container {
  display: flex;
}
#choose-file-click {
  cursor: pointer;
  caret-color: transparent;
}
.txtbox-title {
  height: 40px;
}
.input-upload-class {
  font-size: 15px;
  color: white;
  font-weight: 700;
  outline: none;
  padding: 0%;
  margin: 0%;
  border: none;
  padding-left: 3px;
  width: 207px;
  height: 40px;
  background-color: #00b4d8;
  border: solid black;
}
.input-upload-class::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.inp-upl-cls-Des {
  width: 283px;
  height: 170px;
}
.span-icon-container {
  display: flex;
  width: 70px;
  height: 40px;
  background-color: #2ff793ff;
  border: solid black;
}

.upload-icon {
  margin: auto;
  cursor: pointer;
}
.saveBtn {
  align-self: center;
  width: 700px;
  height: 40px;
  border: solid black;
  background-color: #2ff793ff;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 700;
}
.ViewTable {
  counter-reset: countNum;
}
.ViewTable td h6 {
  margin: 0px;
  text-align: start;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
}
.ViewTable td h6::before {
  counter-increment: countNum;
  content: counter(countNum);
}
